aiohttp==3.9.3 ; python_version >= "3.9" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.9" and python_version < "4.0"
amqp==5.2.0 ; python_version >= "3.9" and python_version < "4.0"
annotated-types==0.6.0 ; python_version >= "3.9" and python_version < "4.0"
anyio==4.3.0 ; python_version >= "3.9" and python_version < "4.0"
asn1crypto==1.5.1 ; python_version >= "3.9" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.9" and python_version < "3.11"
attrs==23.2.0 ; python_version >= "3.9" and python_version < "4.0"
billiard==4.2.0 ; python_version >= "3.9" and python_version < "4.0"
cachetools==5.3.3 ; python_version >= "3.9" and python_version < "4.0"
celery==5.3.6 ; python_version >= "3.9" and python_version < "4.0"
certifi==2024.2.2 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
chardet==5.2.0 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "4.0"
click-didyoumean==0.3.0 ; python_version >= "3.9" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.9" and python_version < "4.0"
click-repl==0.3.0 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0"
commonmark==0.9.1 ; python_version >= "3.9" and python_version < "4.0"
cryptography==42.0.5 ; python_version >= "3.9" and python_version < "4.0"
cssselect==1.2.0 ; python_version >= "3.9" and python_version < "4.0"
cssutils==2.9.0 ; python_version >= "3.9" and python_version < "4.0"
dataclasses-json==0.6.4 ; python_version >= "3.9" and python_version < "4.0"
distro==1.9.0 ; python_version >= "3.9" and python_version < "4.0"
dnspython==2.6.1 ; python_version >= "3.9" and python_version < "4.0"
docstring-parser==0.15 ; python_version >= "3.9" and python_version < "4.0"
ecdsa==0.18.0 ; python_version >= "3.9" and python_version < "4.0"
email-validator==2.1.1 ; python_version >= "3.9" and python_version < "4.0"
emails==0.6 ; python_version >= "3.9" and python_version < "4.0"
exceptiongroup==1.2.0 ; python_version >= "3.9" and python_version < "3.11"
fastapi==0.109.2 ; python_version >= "3.9" and python_version < "4.0"
filelock==3.13.1 ; python_version >= "3.9" and python_version < "4.0"
frozenlist==1.4.1 ; python_version >= "3.9" and python_version < "4.0"
greenlet==3.0.3 ; python_version >= "3.9" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.9" and python_version < "4.0"
httpcore==1.0.4 ; python_version >= "3.9" and python_version < "4.0"
httpx==0.27.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.6 ; python_version >= "3.9" and python_version < "4.0"
jsonpatch==1.33 ; python_version >= "3.9" and python_version < "4.0"
jsonpointer==2.4 ; python_version >= "3.9" and python_version < "4.0"
kombu==5.3.5 ; python_version >= "3.9" and python_version < "4.0"
langchain-community==0.0.25 ; python_version >= "3.9" and python_version < "4.0"
langchain-core==0.1.28 ; python_version >= "3.9" and python_version < "4.0"
langchain-openai==0.0.7 ; python_version >= "3.9" and python_version < "4.0"
langchain-text-splitters==0.0.1 ; python_version >= "3.9" and python_version < "4.0"
langchain==0.1.10 ; python_version >= "3.9" and python_version < "4.0"
langsmith==0.1.13 ; python_version >= "3.9" and python_version < "4.0"
lxml==5.1.0 ; python_version >= "3.9" and python_version < "4.0"
marshmallow==3.21.0 ; python_version >= "3.9" and python_version < "4.0"
multidict==6.0.5 ; python_version >= "3.9" and python_version < "4.0"
mypy-extensions==0.4.4 ; python_version >= "3.9" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "4.0"
openai==1.13.3 ; python_version >= "3.9" and python_version < "4.0"
orjson==3.9.15 ; python_version >= "3.9" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.9" and python_version < "4.0"
passlib==1.7.4 ; python_version >= "3.9" and python_version < "4.0"
platformdirs==3.11.0 ; python_version >= "3.9" and python_version < "4.0"
premailer==3.10.0 ; python_version >= "3.9" and python_version < "4.0"
prompt-toolkit==3.0.43 ; python_version >= "3.9" and python_version < "4.0"
psycopg2-binary==2.9.9 ; python_version >= "3.9" and python_version < "4.0"
pyasn1==0.5.1 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.9" and python_version < "4.0"
pydantic-core==2.16.3 ; python_version >= "3.9" and python_version < "4.0"
pydantic-settings==2.2.1 ; python_version >= "3.9" and python_version < "4.0"
pydantic==2.6.3 ; python_version >= "3.9" and python_version < "4.0"
pygments==2.17.2 ; python_version >= "3.9" and python_version < "4.0"
pyjwt==2.8.0 ; python_version >= "3.9" and python_version < "4.0"
pyopenssl==24.0.0 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
python-jose==3.3.0 ; python_version >= "3.9" and python_version < "4.0"
python-multipart==0.0.9 ; python_version >= "3.9" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.9" and python_version < "4.0"
raven==6.10.0 ; python_version >= "3.9" and python_version < "4.0"
regex==2023.12.25 ; python_version >= "3.9" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.9" and python_version < "4.0"
rich==10.16.2 ; python_version >= "3.9" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.9" and python_version < "4"
shellingham==1.5.4 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.9" and python_version < "4.0"
snowflake-connector-python==3.7.1 ; python_version >= "3.9" and python_version < "4.0"
snowflake-sqlalchemy==1.5.1 ; python_version >= "3.9" and python_version < "4.0"
sortedcontainers==2.4.0 ; python_version >= "3.9" and python_version < "4.0"
sqlalchemy==1.4.51 ; python_version >= "3.9" and python_version < "4.0"
starlette==0.36.3 ; python_version >= "3.9" and python_version < "4.0"
tenacity==8.2.3 ; python_version >= "3.9" and python_version < "4.0"
tiktoken==0.6.0 ; python_version >= "3.9" and python_version < "4.0"
tomlkit==0.12.4 ; python_version >= "3.9" and python_version < "4.0"
tqdm==4.66.2 ; python_version >= "3.9" and python_version < "4.0"
typer[all]==0.4.2 ; python_version >= "3.9" and python_version < "4.0"
types-setuptools==69.1.0.20240302 ; python_version >= "3.9" and python_version < "4.0"
types-toml==0.10.8.7 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.10.0 ; python_version >= "3.9" and python_version < "4.0"
typing-inspect==0.9.0 ; python_version >= "3.9" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.9" and python_version < "4.0"
urllib3==1.26.18 ; python_version >= "3.9" and python_version < "4.0"
uvicorn==0.27.1 ; python_version >= "3.9" and python_version < "4.0"
vine==5.1.0 ; python_version >= "3.9" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.9" and python_version < "4.0"
yarl==1.9.4 ; python_version >= "3.9" and python_version < "4.0"
