/* Style for the prompt input */
.rah-input-wrapper {
    width: 100%;
}

.rah-hint {
    color: rgba(218, 212, 212, 0.3) !important;
}

#prompt-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    min-height: 20px;
    color: white;
    overflow: auto;
    width: 100%;
    background-color: rgba(64, 65, 79, 1);
    border: 0;
}

#prompt-input:focus {
    outline: none !important;
}