aiohttp==3.8.4
aiosignal==1.3.1
asn1crypto==1.5.1
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.4
cryptography==40.0.2
dataclasses-json==0.5.9
filelock==3.12.2
Flask==2.0.2
Flask-Cors==4.0.0
frozenlist==1.3.3
gunicorn==20.1.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
langchain==0.0.230
langchainplus-sdk==0.0.20
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
multidict==6.0.4
mypy-extensions==1.0.0
mysql==0.0.3
mysql-connector-python==8.1.0
mysqlclient==2.2.0
numexpr==2.8.4
numpy==1.25.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
oscrypto==1.3.0
packaging==23.1
pandas==2.0.3
protobuf==4.21.12
pycparser==2.21
pycryptodomex==3.18.0
pydantic==1.10.11
PyJWT==2.7.0
PyMySQL==1.1.0
pyOpenSSL==23.2.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.31.0
six==1.16.0
snowflake-connector-python==3.0.4
sortedcontainers==2.4.0
SQLAlchemy==2.0.18
tenacity==8.2.2
tqdm==4.65.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
Werkzeug==2.3.6
yarl==1.9.2
