aiofiles==22.1.0
aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.18.0
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asn1crypto==1.5.1
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
awscli-local==0.21
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
boto3==1.28.25
botocore==1.31.25
bowler==0.9.0
cachelib==0.10.2
cachetools==5.0.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.4
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.2
cryptography==40.0.2
dask==2023.6.1
dataclasses-json==0.5.9
db-dtypes==1.0.5
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.2
distlib==0.3.6
dnslib==0.9.23
dnspython==2.4.2
docutils @ file:///private/tmp/docutils-20231015-5454-w1xze4/docutils-0.20.1
ecdsa==0.18.0
et-xmlfile==1.1.0
executing==1.2.0
fastapi==0.98.0
fastavro==1.7.4
fastjsonschema==2.16.3
feast==0.31.1
featurizer==0.1.0
filelock==3.12.2
fissix==21.11.13
Flask==2.0.2
Flask-Cors==4.0.0
Flask-MySQL==1.5.2
Flask-Session==0.4.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.6.0
gcloud==0.18.3
google-api-core==2.11.0
google-auth==2.16.1
google-cloud-bigquery==3.6.0
google-cloud-core==2.3.2
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
grpcio==1.56.0
grpcio-reflection==1.56.0
grpcio-status==1.51.3
gunicorn==20.1.0
h11==0.14.0
httpcore==0.17.2
httplib2==0.21.0
httptools==0.5.0
httpx==0.24.1
huggingface-hub==0.16.4
idna==3.4
importlib-metadata==6.7.0
ipykernel==6.21.2
ipython==8.10.0
ipython-genutils==0.2.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.2
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_fileid==0.8.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab_server==2.19.0
langchain==0.0.230
langchainplus-sdk==0.0.20
localstack==2.2.0
localstack-client==2.3
localstack-core==2.2.0
localstack-ext==2.2.0
locket==1.0.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
mmh3==4.0.0
moreorless==0.4.0
msal==1.25.0
multidict==6.0.4
mypy==1.4.1
mypy-extensions==1.0.0
mysql==0.0.3
mysql-connector-python==8.1.0
mysqlclient==2.2.0
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
notebook==6.5.2
notebook_shim==0.2.2
numexpr==2.8.4
numpy==1.24.4
oauth2client==4.1.3
openai==0.27.8
openapi-schema-pydantic==1.2.4
openpyxl==3.1.1
oscrypto==1.3.0
packaging==23.1
pandas==2.0.3
pandavro==1.5.2
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.0
pbr==5.11.1
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.0.0
plux==1.4.0
prometheus-client==0.16.0
prompt-toolkit==3.0.37
proto-plus==1.22.2
protobuf==4.21.12
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyaes==1.6.1
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodomex==3.18.0
pydantic==1.10.11
Pygments==2.14.0
PyJWT==2.7.0
PyMySQL==1.1.0
pyOpenSSL==23.2.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
python-json-logger==2.0.7
pytz==2023.3
PyYAML==6.0
pyzmq==25.0.0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.5.2
rsa==4.9
s3transfer==0.6.1
semver==3.0.1
Send2Trash==1.8.0
six==1.16.0
sniffio==1.3.0
snowflake-connector-python==3.0.4
sortedcontainers==2.4.0
soupsieve==2.4
SQLAlchemy==2.0.18
sqlalchemy2-stubs==0.0.2a34
stack-data==0.6.2
starlette==0.27.0
stevedore==5.1.0
tabulate==0.9.0
tailer==0.4.1
tenacity==8.2.2
terminado==0.17.1
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typeguard==2.13.3
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
uri-template==1.2.0
urllib3==1.26.16
uvicorn==0.22.0
uvloop==0.17.0
virtualenv==20.20.0
volatile==2.1.0
watchfiles==0.19.0
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.3
Werkzeug==2.3.6
y-py==0.5.9
yarl==1.9.2
ypy-websocket==0.8.2
zipp==3.15.0
